:root {
  --bgColor: #FDFAFD;
  --dimmerBgColor: #F7F7F7;
  --fontColor: #641AE5;
  --auxiliaryColor1: #9BE51A;
  --auxiliaryColor2: #E1341E;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgColor);
}

.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--auxiliaryColor1);
  padding: 40px 60px;
  margin: 25px auto;
  width: 15rem;
  height: 17rem;
}

.title,
.question {
  text-align: center;
  margin-bottom: 5px;
}

.answer-list {
  list-style-type: lower-latin;
  list-style-position: inside;
}

.answer-0:hover,
.answer-1:hover,
.answer-2:hover,
.answer-3:hover {
  cursor: pointer;
  background-color: var(--dimmerBgColor);
}

.blink-red {
  animation-name: blink-red;
  animation-duration: 0.15s;
}

.blink-green {
  animation-name: blink-green;
  animation-duration: 0.15s;
}

.statistics-block {
  margin: 10px;
}

.current-question,
.correct-answers,
.wrong-answers,
.game-info {
  text-align: center;
}

@keyframes blink-red {
  5% {
    background-color: var(--auxiliaryColor2);
  }
}

@keyframes blink-green {
  5% {
    background-color: var(--auxiliaryColor1);
  }
}

.quiz-maker {
  border: 1px solid var(--auxiliaryColor1);
  padding: 25px;
  margin: 25px;
}

.new-question-btn,
.reset-btn,
.apply-new-quiz-btn {
  display: block;
  margin: 10px auto;
  background-color: var(--bgColor);
  border: 1px solid var(--auxiliaryColor1);
  border-radius: 8px;
  padding: 10px;
}

.new-question-btn:hover,
.reset-btn:hover {
  background-color: var(--auxiliaryColor1);
  color: var(--bgColor);
  text-shadow: 1px 1px 2px #000000;
}

.quiz-maker-info {
  text-align: center;
}

.new-quiz-table {
  width: 100%;
  border: 1px solid gray;
}

.table-data-input {
  width: 80%;
  padding: 0;
}